 .u-section-1 {
  background-image: url("images/yy-min.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 711px;
}

.u-section-1 .u-group-1 {
  width: 712px;
  min-height: 556px;
  height: auto;
  margin: 100px -29px 55px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 12px;
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0 362px 0 -311px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 6.875rem;
  line-height: 0.8;
  font-weight: 700;
  margin: 20px 30px 0 -322px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 143px;
    margin-right: -103px;
    margin-bottom: 0;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 5.625rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-left: -56px;
  }

  .u-section-1 .u-text-2 {
    font-size: 5.3125rem;
    width: auto;
    margin-top: 38px;
    margin-right: 12px;
    margin-left: -67px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: 44px;
    margin-right: -28px;
    margin-bottom: 17px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 276px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.0625rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-right: 84px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1054px;
}

.u-section-2 .u-image-1 {
  width: 625px;
  min-height: 556px;
  background-image: url("images/rttr.png");
  background-position: 50% 50%;
  margin: 60px 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 959px;
  height: 683px;
  margin: -853px auto 0 0;
}

.u-section-2 .u-shape-1 {
  width: 250px;
  height: 94px;
  margin: -631px 56px 0 auto;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 524px;
  margin: 230px 45px -175px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 13.5px));
  min-height: 399px;
  grid-gap: 27px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-2 .u-image-1 {
    width: 515px;
    min-height: 542px;
  }

  .u-section-2 .u-image-2 {
    width: 775px;
    height: 669px;
    margin-top: -839px;
  }

  .u-section-2 .u-shape-1 {
    width: 235px;
    margin-top: -617px;
    margin-right: 27px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -185px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1065px;
  }

  .u-section-2 .u-image-1 {
    width: 614px;
    min-height: 515px;
  }

  .u-section-2 .u-image-2 {
    width: 639px;
    height: 526px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -474px;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -139px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 951px;
  }

  .u-section-2 .u-image-1 {
    min-height: 495px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    width: 469px;
    height: 337px;
    margin-top: -722px;
  }

  .u-section-2 .u-shape-1 {
    width: 166px;
    height: 64px;
    margin-top: -288px;
  }

  .u-section-2 .u-list-1 {
    width: 466px;
    height: auto;
    margin: 149px auto -50px 34px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-2 .u-image-1 {
    min-height: 472px;
    width: 337px;
    margin-top: 244px;
    margin-right: -30px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    width: 368px;
    height: 284px;
    margin-top: -646px;
    margin-left: -28px;
  }

  .u-section-2 .u-shape-1 {
    width: 146px;
    height: 56px;
    margin-top: -256px;
    margin-right: -39px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 113px;
    margin-bottom: -411px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 828px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto;
}

.u-section-3 .u-image-1 {
  min-height: 748px;
  background-image: url("images/a-crypto-coin-covered-in-black-crystals.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-shape-1 {
  width: 600px;
  height: 98px;
  background-image: none;
  margin: 89px -325px 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 748px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-group-1 {
  width: 510px;
  min-height: 432px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 25px 18px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 28px 23px 0 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  margin: 33px 12px 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 617px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 0;
    margin-right: -320px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 617px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-3 .u-image-1 {
    min-height: 652px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 49px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 652px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-3 .u-image-1 {
    min-height: 743px;
  }

  .u-section-3 .u-shape-1 {
    width: 405px;
    margin-right: 28px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 412px;
  }

  .u-section-3 .u-group-1 {
    width: 409px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-3 .u-image-1 {
    min-height: 468px;
  }

  .u-section-3 .u-shape-1 {
    width: 287px;
    margin-top: 47px;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 432px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  min-height: 840px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  text-transform: none;
  font-weight: 700;
  margin: 65px auto 0;
}

.u-section-4 .u-line-1 {
  width: 150px;
  height: 10px;
  margin: 25px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 609px;
  margin-top: 65px;
  margin-bottom: 0;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 0px;
}

.u-section-4 .u-back-image-1 {
  object-position: 50% 23.48%;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-back-image-2 {
  object-position: 50% 20.34%;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-5 {
  object-position: 50% 81.01%;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 733px;
  }

  .u-section-4 .u-gallery-1 {
    height: 502px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1769px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1538px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 4845px;
  }

  .u-section-4 .u-gallery-1 {
    height: 4614px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 3136px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-gallery-1 {
    height: 2905px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 758px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 55px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 509px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 31px 30px 30px;
}

.u-section-5 .u-image-1 {
  height: 430px;
  object-position: 0% 65.31%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 648px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin-top: 63px;
  margin-bottom: 0;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
}

.u-section-5 .u-text-2 {
  line-height: 2;
  letter-spacing: 1px;
  margin: 37px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 86px auto 0 2px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 420px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-1 {
    height: 346px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 534px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-5 .u-image-1 {
    height: 257px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 483px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 418px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 304px;
  }

  .u-section-5 .u-image-1 {
    height: 257px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1105px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 68px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  width: 894px;
  margin: 20px auto 0;
}

.u-section-6 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(25% - 9px) calc(25% - 9px) calc(25% - 9px) calc(25% - 9px);
  min-height: 550px;
  grid-gap: 12px 12px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 20px 30px;
}

.u-section-6 .u-icon-1 {
  height: 100px;
  width: 100px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-3 {
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 20px 30px;
}

.u-section-6 .u-icon-2 {
  height: 100px;
  width: 100px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-4 {
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 20px 30px;
}

.u-section-6 .u-icon-3 {
  height: 100px;
  width: 100px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-5 {
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px 20px 30px;
}

.u-section-6 .u-icon-4 {
  height: 100px;
  width: 100px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-6 {
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 20px 20px 30px;
}

.u-section-6 .u-icon-5 {
  height: 100px;
  width: 100px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-7 {
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 20px 20px 30px;
}

.u-section-6 .u-icon-6 {
  height: 100px;
  width: 100px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-8 {
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-7 {
  padding: 20px 20px 30px;
}

.u-section-6 .u-icon-7 {
  height: 100px;
  width: 100px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-9 {
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-8 {
  padding: 20px 20px 30px;
}

.u-section-6 .u-icon-8 {
  height: 100px;
  width: 100px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-10 {
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    min-height: 454px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 6px) calc(50% - 6px);
    min-height: 1391px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 701px;
}

.u-section-7 .u-group-1 {
  width: 524px;
  min-height: 472px;
  height: auto;
  margin: 144px 281px 60px 335px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 28px 0 0;
}

.u-section-7 .u-text-2 {
  line-height: 2;
  margin: 28px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px auto 0 0;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    width: 447px;
    min-height: 528px;
    height: auto;
    margin: 46px 181px 45px 235px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    min-height: 400px;
    margin-top: 59px;
    margin-bottom: 351px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    margin-top: 54px;
    margin-bottom: 997px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-7 .u-group-1 {
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-8 {
  min-height: 500px;
  background-image: url("images/8.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 691px;
}

.u-section-8 .u-container-layout-1 {
  padding: 43px 30px 43px 40px;
}

.u-section-8 .u-text-1 {
  letter-spacing: normal;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 3.75rem;
  margin: 9px auto 0;
}

.u-section-8 .u-form-1 {
  height: 412px;
  width: 396px;
  margin: 37px auto 0;
}

.u-section-8 .u-form-group-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-8 .u-form-group-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-8 .u-form-group-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-8 .u-form-group-4 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-8 .u-form-group-5 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 10px 31px 10px 29px;
}

.u-section-8 .u-image-1 {
  min-height: 691px;
  background-image: url("images/a-crypto-coin-covered-in-black-crystals.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-2 {
  padding: 33px 30px 30px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 291px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 570px;
  }

  .u-section-8 .u-form-1 {
    width: 337px;
  }

  .u-section-8 .u-image-1 {
    min-height: 570px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 97px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 15px;
  }

  .u-section-8 .u-form-1 {
    width: 288px;
  }

  .u-section-8 .u-image-1 {
    background-position: 30.93% 50%;
    min-height: 376px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 367px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 69px;
    padding-left: 10px;
  }

  .u-section-8 .u-form-1 {
    width: 472px;
  }

  .u-section-8 .u-image-1 {
    min-height: 546px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 165px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 55px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-8 .u-form-1 {
    width: 320px;
  }

  .u-section-8 .u-image-1 {
    min-height: 344px;
  }
}